  <div class="uk-margin animated bounceInLeft" style="width: 100%;margin-top:40px">
    <div class="uk-width-1-1">
      <div class="uk-width-1-1 uk-text-center">
        <!-- <img src="assets/images/seat-number.png" style="height: 100%;width: auto" alt=""> -->
        <div class="gift-wrapper uk-width-1-1 uk-margin">
          <span class="txt-gift txt-gift-1 uk-h1">Chúc mừng anh chị đã trúng thưởng</span>
        </div>
        <div class="gift-wrapper uk-width-1-1 uk-margin">
          <span class="txt-gift txt-gift-2 uk-h2">Mã trúng thưởng của anh/chị là</span>
        </div>
        <div class="gift-wrapper uk-width-1-1 uk-flex-center" style="margin: 66px 0 24px 0;">
          <span  class="txt-gift txt-gift-3">{{giftCode}}</span>
        </div>
        <div class="gift-wrapper uk-width-1-1  uk-margin">
            <span class="txt-gift txt-gift-4">Vui lòng liên hệ với ban tổ chức để nhận quà</span>
        </div>
        <div class="gift-wrapper uk-width-1-1 uk-margin">
          <span class="txt-gift txt-gift-5">Xin cảm ơn</span>
        </div>

      </div>
  </div>