<div class="uk-grid question-container" #animate>
  <div class="uk-flex uk-flex-center uk-flex-space-between animated bounceInLeft" style="width: 100%;margin-top:4%;" *ngIf="!employee">
    <div class="uk-text-center uk-width-1-1" style="padding: 0 10% 0 10%;">
      <h1 style="color: white;font-weight: bold;">
        Xin mời quét mã QR Code để biết vị trí
      </h1>
      <img src="assets/images/qrcode-scanner.png" alt="" style="max-width: 200px;height: auto;margin-top: 30px;">
    </div>
  </div>
</div>